@import url(./__close-btn/popup-image__close-btn.css);
@import url(./__content/popup-image__content.css);
@import url(./__image/popup-image__image.css);
@import url(./__text/popup-image__text.css);

.popup-image {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s linear;
}
