.popup-image__close-btn {
  height: 40.7px;
  width: 40.7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/Close_Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  outline: none;
}

.popup-image__close-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
