@import url(./__close-btn/popup-addcard__close-btn.css);
@import url(./__content/popup-addcard__content.css);
@import url(./__field/popup-addcard__field.css);
@import url(./__save-btn/popup-addcard__save-btn.css);
@import url(./__title/popup-addcard__title.css);

.popup-addcard {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s linear;
}
